@model Nop.Plugin.Payments.GestPay.Models.GeneralErrorModel
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("GestPay failed");
}

<div class="page-title">
    <h2>
        @Model.SummaryTitle
    </h2>
</div>
<div class="page-body">
    <h3>
        @Model.PageMessage
    </h3>    
</div>
