@model Nop.Plugin.Payments.GestPay.Models.GeneralErrorModel
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts("GestPay failed");
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@T("Plugins.Payments.GestPay.Fields.RedirectionTip")</b></p>
        </td>
    </tr>
</table>
